<div class="container">
  <h4 class="title">Order № {{orderNumberMonth}} from {{currentDate | date: 'shortDate'}}</h4>
  <div class="border">
    <strong class="sub-title">Customer</strong>
    <form [formGroup]="orderForm" (ngSubmit)="save()" novalidate>
      <div class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label">Email address</label>
        <div class="col-sm-6">
          <input [ngClass]="{'error': isFormValueInvalid('email')}" type="email" class="form-control" id="inputEmail"
            placeholder="your@gmail.com" name="email" formControlName="email">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-6">
          <input [ngClass]="{'error': isFormValueInvalid('firstName')}" type="text" class="form-control"
            id="inputFirstName" placeholder="First Name" name="firstName" formControlName="firstName">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputLastName" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-6">
          <input [ngClass]="{'error': isFormValueInvalid('lastName')}" type="text" class="form-control"
            id="inputLastName" placeholder="Last Name" name="lastName" formControlName="lastName">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputTel" class="col-sm-2 col-form-label">Tel.</label>
        <div class="col-sm-6">
          <input [ngClass]="{'error': phoneNumberValid}" type="text" ng2TelInput
            [ng2TelInputOptions]="{initialCountry: 'ua'}" (hasError)="onPhoneNumberError($event)"
            (ng2TelOutput)="getPhoneNumber($event)" />
        </div>
      </div>
      <div class="divider"></div>
      <strong class="sub-title">Order</strong>
      <div class="form-group row">
        <label for="inputItems" class="col-sm-2 col-form-label">Items</label>
        <div class="col-sm-6">
          <input [ngClass]="{'error': isFormValueInvalid('items')}" type="text" class="form-control" id="inputItems"
            placeholder="Items" name="items" formControlName="items">
        </div>
      </div>
      <div class="form-group row">
        <label for="orderTypeDropdown" class="col-sm-2 col-form-label">Order Type</label>
        <div class="col-sm-6">
          <div class="input-group">
            <select [ngClass]="{'error': isFormValueInvalid('orderType')}" class="custom-select" id="orderTypeDropdown"
              formControlName="orderType">
              <option value="Wholesale">Wholesale</option>
              <option value="Retail">Retail</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="sellerDropdown" class="col-sm-2 col-form-label">Seller</label>
        <div class="col-sm-6">
          <div class="input-group">
            <select [ngClass]="{'error': isFormValueInvalid('seller')}" class="custom-select" id="sellerDropdown"
              formControlName="seller">
              <option value="Magic Tips Lab">Magic Tips Lab</option>
              <option value="Triolan Gde Inet">Triolan Gde Inet</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="orderID" class="col-sm-2 col-form-label">Order ID</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="orderID" name="orderId" formControlName="orderId">
        </div>
      </div>
      <div class="form-group row">
        <label for="orderDate" class="col-sm-2 col-form-label">Order Date</label>
        <div class="col-sm-6">
          <div class="example-wrapper" id="orderDate">
            <kendo-datepicker (valueChange)="onChangeDate($event)" [(value)]="orderDate"></kendo-datepicker>
          </div>
        </div>
      </div>
      <div class="form-group comment">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Comment</span>
          </div>
          <textarea class="form-control" aria-label="With textarea" formControlName="comment"></textarea>
        </div>
      </div>
      <div class="divider"></div>
      <div class="button-wrapper">
        <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="isOrderFormInvalid">Submit</button>
      </div>
    </form>
  </div>
</div>