/* You can add global styles to this file, and also import other style files */
@import 'intl-tel-input/build/css/intlTelInput.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
